<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="nosqlId">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#nosqlCollapse"
            aria-expanded="true"
            aria-controls="nosqlCollapse"
          >
            NoSQL
          </button>
        </h2>
      </div>
  
      <div
        id="nosqlCollapse"
        class="collapse"
        aria-labelledby="nosqlId"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>
            A NoSQL originally referring to non SQL or non relational is a
            database that provides a mechanism for storage and retrieval of data.
          </p>
          <p>
            The data modal of NoSQL Database are mainly types of document,
            key-value, wide-column, and graph.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="differenceSqlNosqlId">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#differenceSqlNosqlCollapse"
            aria-expanded="true"
            aria-controls="differenceSqlNosqlCollapse"
          >
            Difference between SQL and NoSQL
          </button>
        </h2>
      </div>
  
      <div
        id="differenceSqlNosqlCollapse"
        class="collapse"
        aria-labelledby="differenceSqlNosqlId"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">SQL</th>
                <th scope="col">NoSQL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Type</th>
                <td>
                  SQL databases are primarily called as Relational Databases
                  (RDBMS).
                </td>
                <td>
                  NoSQL database are primarily called as non-relational or
                  distributed database.
                </td>
              </tr>
              <tr>
                <th>Language</th>
                <td>
                  <p>SQL databases are structured query language (SQL).</p>
                  <p>
                    In Relational databases, you need to define schemas before you
                    can add data. Structure and data types are fixed in advance.
                  </p>
                </td>
                <td>
                  <p>A NoSQL database has dynamic schema for unstructured data</p>
                  <p>
                    NoSQL databases are built to store data without a predefined
                    schema.
                  </p>
                </td>
              </tr>
              <tr>
                <th>The Structure</th>
                <td>SQL databases are table-based.</td>
                <td>
                  NoSQL databases are either key-value pairs, document-based,
                  graph databases or wide-column stores.
                </td>
              </tr>
              <tr>
                <th>Support</th>
                <td>
                  SQL databases include PostgreSQL, MySQL, Oracle and Microsoft
                  SQL Server.
                </td>
                <td>
                  NoSQL databases include Redis, RavenDB Cassandra, MongoDB,
                  BigTable, HBase, Neo4j and CouchDB.
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            Reference:
            <a
              target="_blank"
              href="https://www.geeksforgeeks.org/difference-between-sql-and-nosql/?ref=rp"
              >https://www.geeksforgeeks.org/difference-between-sql-and-nosql/?ref=rp</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="documentOrientedDBId">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#documentOrientedDBCollapse"
            aria-expanded="true"
            aria-controls="documentOrientedDBCollapse"
          >
            document oriented database
          </button>
        </h2>
      </div>
  
      <div
        id="documentOrientedDBCollapse"
        class="collapse"
        aria-labelledby="documentOrientedDBId"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          MongoDB is a document oriented database which means it stores the data
          in BSON format which is a binary representation of JSON.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="collectionId">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collectionCollapse"
            aria-expanded="false"
            aria-controls="collectionCollapse"
          >
            Collection
          </button>
        </h2>
      </div>
      <div
        id="collectionCollapse"
        class="collapse"
        aria-labelledby="collectionId"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>Collection is grouping of MongoDB documents.</p>
          <p>
            Collections have dynamic schemas. This means that the documents within
            a single collection can have any number of different shapes.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="documentId">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#documentCollapse"
            aria-expanded="false"
            aria-controls="documentCollapse"
          >
            Document
          </button>
        </h2>
      </div>
      <div
        id="documentCollapse"
        class="collapse"
        aria-labelledby="documentId"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>In MongoDB, data is stored as documents.</p>
          <p>
            These documents are stored in MongoDB in JSON (JavaScript Object
            Notation) format.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="idFieldId">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#idFieldCollapse"
            aria-expanded="false"
            aria-controls="idFieldCollapse"
          >
            The _id Field
          </button>
        </h2>
      </div>
      <div
        id="idFieldCollapse"
        class="collapse"
        aria-labelledby="idFieldId"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          In MongoDB, each document stored in a collection requires a unique _id
          field that acts as a primary key.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="fieldId">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#fieldCollapse"
            aria-expanded="false"
            aria-controls="fieldCollapse"
          >
            Field
          </button>
        </h2>
      </div>
      <div
        id="fieldCollapse"
        class="collapse"
        aria-labelledby="fieldId"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          Fields contain values of any BSON data type in document.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="linkId">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#linkCollapse"
            aria-expanded="false"
            aria-controls="linkCollapse"
          >
            Linking
          </button>
        </h2>
      </div>
      <div
        id="linkCollapse"
        class="collapse"
        aria-labelledby="linkId"
        data-parent="#accordionExample"
      >
        <div class="card-body">Join the Documents are called linking.</div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="bsonId">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#bsonCollapse"
            aria-expanded="false"
            aria-controls="bsonCollapse"
          >
            BSON
          </button>
        </h2>
      </div>
      <div
        id="bsonCollapse"
        class="collapse"
        aria-labelledby="bsonId"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>MongoDB stores data as BSON documents.</p>
          <p>
            BSON is a binary representation of JSON documents, though it contains
            more data types than JSON.
          </p>
          <p>
            Some of the supported data types are: Double, String, Object, Array,
            Binary Data, RegEx, Boolean, Date, Null, JavaScript, Timestamp.
            ObjectId.
          </p>
          <p class="font-weight-bold">Features</p>
          <div class="pl-2 ml-2">
            <p>BSON is lightweight.</p>
            <p>BSON is designed to be traversed easily.</p>
            <p>
              It is efficient. Encoding data to BSON and decoding from BSON can be
              performed very quickly in most languages.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="documentIdq">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#documentCollapseq"
            aria-expanded="false"
            aria-controls="documentCollapseq"
          >
            Document
          </button>
        </h2>
      </div>
      <div
        id="documentCollapseq"
        class="collapse"
        aria-labelledby="documentIdq"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>In MongoDB, data is stored as documents.</p>
          <p>
            These documents are stored in MongoDB in JSON (JavaScript Object
            Notation) format.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="documentIdq">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#documentCollapseq"
            aria-expanded="false"
            aria-controls="documentCollapseq"
          >
            Document
          </button>
        </h2>
      </div>
      <div
        id="documentCollapseq"
        class="collapse"
        aria-labelledby="documentIdq"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <p>In MongoDB, data is stored as documents.</p>
          <p>
            These documents are stored in MongoDB in JSON (JavaScript Object
            Notation) format.
          </p>
        </div>
      </div>
    </div>
  </div>
  