<div id="accordion">
  <div class="card">
    <div class="card-header" id="javascriptId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#javascriptCollapse"
          aria-expanded="true"
          aria-controls="javascriptCollapse"
        >
          JavaScript Introduction
        </button>
      </h5>
    </div>

    <div
      id="javascriptCollapse"
      class="collapse"
      aria-labelledby="javascriptId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>JavaScript is a very powerful client-side scripting language.</p>
        <p>
          you can make your webpage more lively and interactive, with the help
          of JavaScript.
        </p>
        <p>
          JavaScript was developed by Brendan Eich in 1995, which appeared in
          Netscape, a popular browser of that time.
        </p>
        <p>
          The language was initially called LiveScript and was later renamed
          JavaScript.
        </p>
        <p>
          Being a scripting language, JavaScript cannot run on its own. In fact,
          the browser is responsible for running JavaScript code.
        </p>
        <p>
          You should place all your JavaScript code within
          {{ "<" + "script" + ">" }} tags ({{
            "<" + "script" + ">" + " and " + "<" + "/script" + ">"
          }}) when we are using HTML.
        </p>
        <p>ECMAScript is the official name of the language.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="scriptingLangId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#scriptingLangCollapse"
          aria-expanded="true"
          aria-controls="scriptingLangCollapse"
        >
          Scripting Language
        </button>
      </h5>
    </div>
    <div
      id="scriptingLangCollapse"
      class="collapse"
      aria-labelledby="scriptingLangId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          A scripting language is a programming language designed for
          integrating and communicating with other programming languages.
        </p>
        <p>
          They do not require the compilation step and are rather interpreted.
        </p>
        <p>Other scripting languages PHP, JavaScript and Python etc.</p>
        <p>
          <a
            target="_blank"
            href="https://www.geeksforgeeks.org/introduction-to-scripting-languages/"
            >https://www.geeksforgeeks.org/introduction-to-scripting-languages/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="hoistingId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#hoistingCollapse"
          aria-expanded="false"
          aria-controls="hoistingCollapse"
        >
          Hoisting
        </button>
      </h5>
    </div>
    <div
      id="hoistingCollapse"
      class="collapse"
      aria-labelledby="hoistingId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          Hoisting is a default behaviour of javascript where all the variable
          and function declarations are moved on top.
        </p>
        <p>
          <a
            target="_blank"
            href="https://www.interviewbit.com/javascript-interview-questions/"
            >https://www.interviewbit.com/javascript-interview-questions/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="equalToOperatorId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#equalToOperatorCollapse"
          aria-expanded="false"
          aria-controls="equalToOperatorCollapse"
        >
          Difference between “ == “ and “ === “ operators.
        </button>
      </h5>
    </div>
    <div
      id="equalToOperatorCollapse"
      class="collapse"
      aria-labelledby="equalToOperatorId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          Both are comparison operators. The difference between both the
          operators is that,“==” is used to compare values whereas, “ === “ is
          used to compare both value and types.
        </p>
        <p>
          <a
            target="_blank"
            href="https://www.interviewbit.com/javascript-interview-questions/"
            >https://www.interviewbit.com/javascript-interview-questions/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="coercionId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#coercionCollapse"
          aria-expanded="false"
          aria-controls="coercionCollapse"
        >
          Implicit Type Coercion
        </button>
      </h5>
    </div>
    <div
      id="coercionCollapse"
      class="collapse"
      aria-labelledby="coercionId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          Implicit type coercion in javascript is automatic conversion of value
          from one data type to another.
        </p>
        <p>Types of Implicit type coercion</p>
        <div class="ml-2 pl-2">
          <p>
            <span class="font-weight-bold">1- String coercion: </span>String
            coercion takes place using + operator. When a number is added to a
            string, the number type is always converted to the string type.
          </p>
          <p>
            <span class="font-weight bold">2- Boolean Coercion: </span>Truthy
            values are those which will be converted (coerced) to true . Falsy
            values are those which will be converted to false. All values except
            0, 0n, -0, “”, null, undefined and NaN are truthy values.
          </p>
          <p>
            <span class="font-weight-bold">3- Logical operators: </span>Logical
            operators in javascript don't return true or false. They always
            returns one of the operands. Logical operators are OR && AND.
          </p>
          <p>
            <span class="font-weight-bold">4- Equality Coercion: </span>Equality
            coercion takes place when using ‘ == ‘ operator.
          </p>
          <p>
            <a
              target="_blank"
              href="https://www.interviewbit.com/javascript-interview-questions/"
              >https://www.interviewbit.com/javascript-interview-questions/</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="staticDynamicId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#staticDynamicCollapse"
          aria-expanded="false"
          aria-controls="staticDynamicCollapse"
        >
          Javascript a statically typed or a dynamically typed language
        </button>
      </h5>
    </div>
    <div
      id="staticDynamicCollapse"
      class="collapse"
      aria-labelledby="staticDynamicId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>JavaScript is a dynamically typed language.</p>
        <p>
          In a dynamically typed language, the type of a variable is checked
          during run-time.
        </p>
        <p>So, the javascript is loosely(dynamic) type language.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="nanId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#nanCollapse"
          aria-expanded="false"
          aria-controls="nanCollapse"
        >
          NaN
        </button>
      </h5>
    </div>
    <div
      id="nanCollapse"
      class="collapse"
      aria-labelledby="nanId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          NaN property represents “Not-a-Number” value. It indicates a value
          which is not a legal number.
        </p>
        <p>To check if a value is NaN, we use the isNaN() function.</p>
        <p>
          <a
            target="_blank"
            href="https://www.interviewbit.com/javascript-interview-questions/"
            >https://www.interviewbit.com/javascript-interview-questions/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="valueReferenceId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#valueReferenceCollapse"
          aria-expanded="false"
          aria-controls="valueReferenceCollapse"
        >
          Passed by Value and Passed by Reference
        </button>
      </h5>
    </div>
    <div
      id="valueReferenceCollapse"
      class="collapse"
      aria-labelledby="valueReferenceId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          In JavaScript, primitive data types are passed by value and
          non-primitive data types are passed by reference.
        </p>
        <p>
          <a
            target="_blank"
            href="https://www.interviewbit.com/javascript-interview-questions/"
            >https://www.interviewbit.com/javascript-interview-questions/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="immediatelyInvokedId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#immediatelyInvokedCollapse"
          aria-expanded="false"
          aria-controls="immediatelyInvokedCollapse"
        >
          Immediately Invoked Function in JavaScript
        </button>
      </h5>
    </div>
    <div
      id="immediatelyInvokedCollapse"
      class="collapse"
      aria-labelledby="immediatelyInvokedId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          An Immediately-invoked Function Expression (IIFE) is a way to execute
          functions immediately, as soon as they are created.
        </p>
        <div class="ml-2 pl-2 bg-warning">
          <div>
            {{ "(function () {" }}
            <div class="ml-2 pl-2">statements</div>
            <div>{{ "})();" }}</div>
          </div>
        </div>
        <p>
          <a
            target="_blank"
            href="https://www.geeksforgeeks.org/javascript-immediately-invoked-function-expressions-iife/"
            >https://www.geeksforgeeks.org/javascript-immediately-invoked-function-expressions-iife/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="higherOrderFunctionId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#higherOrderFunctionCollapse"
          aria-expanded="false"
          aria-controls="higherOrderFunctionCollapse"
        >
          Higher-Order Functions
        </button>
      </h5>
    </div>
    <div
      id="higherOrderFunctionCollapse"
      class="collapse"
      aria-labelledby="higherOrderFunctionId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          A Higher-Order function is a function that receives a function as an
          argument otherwise returns function as output.
        </p>
        <p>
          Higher-Order Arrow function implies using arrow functions (in ES6)
          along with Higher-Order functions.
        </p>
        <p>map, reduce and filter are examples of higher-order function.</p>
        <p>
          <a
            target="_blank"
            href="https://www.geeksforgeeks.org/higher-order-arrow-functions-in-javascript/"
            >https://www.geeksforgeeks.org/higher-order-arrow-functions-in-javascript/</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="DiffJavaJavascriptId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#DiffJavaJavascriptCollapse"
          aria-expanded="false"
          aria-controls="DiffJavaJavascriptCollapse"
        >
          Difference Between Java and JavaScript
        </button>
      </h5>
    </div>
    <div
      id="DiffJavaJavascriptCollapse"
      class="collapse"
      aria-labelledby="DiffJavaJavascriptId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          JavaScript code is run on a browser only, while Java creates
          applications that run in a virtual machine or browser.
        </p>
        <p>
          Java is an OOP (object-oriented programming) language, and JavaScript
          is specifically an OOP scripting language.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="dataTypeId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#dataTypeCollapse"
          aria-expanded="false"
          aria-controls="dataTypeCollapse"
        >
          JavaScript Data Types
        </button>
      </h5>
    </div>
    <div
      id="dataTypeCollapse"
      class="collapse"
      aria-labelledby="dataTypeId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          We use the <span class="font-weight-bold">typeOf</span> operator to
          get javascript variable type.
        </p>
        <p>* Number</p>
        <p>* String</p>
        <p>* Boolean</p>
        <p>* Object</p>
        <p>* Undefined</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="isNanId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#isNanCollapse"
          aria-expanded="false"
          aria-controls="isNanCollapse"
        >
          isNaN function
        </button>
      </h5>
    </div>
    <div
      id="isNanCollapse"
      class="collapse"
      aria-labelledby="isNanId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          isNan function returns true if the argument is not a number otherwise
          it is false.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="negativeInfinityId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#negativeInfinityCollapse"
          aria-expanded="false"
          aria-controls="negativeInfinityCollapse"
        >
          negative infinity
        </button>
      </h5>
    </div>
    <div
      id="negativeInfinityCollapse"
      class="collapse"
      aria-labelledby="negativeInfinityId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          Negative Infinity is a number in JavaScript which can be derived by
          dividing negative number by zero.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="undeclaredUndefinedId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#undeclaredUndefinedCollapse"
          aria-expanded="false"
          aria-controls="undeclaredUndefinedCollapse"
        >
          undeclared and undefined variables
        </button>
      </h5>
    </div>
    <div
      id="undeclaredUndefinedCollapse"
      class="collapse"
      aria-labelledby="undeclaredUndefinedId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          undeclared variables are variable that are not declared. If we try to
          read of an undeclared variable, then a runtime error is encountered.
        </p>
        <p>
          Undefined variables are those that are declared in the program but
          have not been given any value.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="letVarConstId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#letVarConstCollapse"
          aria-expanded="false"
          aria-controls="letVarConstCollapse"
        >
          let, var, const
        </button>
      </h5>
    </div>
    <div
      id="letVarConstCollapse"
      class="collapse"
      aria-labelledby="letVarConstId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>Before ES2015, Javascript has two scope:</p>
        <div class="pl-3">
          <p>
            <span class="font-weight-bold">Global Scope -</span> Global
            variables can be accessed from anywhere in a JavaScript program.
          </p>
          <p>
            <span class="font-weight-bold">Function Scope -</span> Local
            variables can only be accessed from inside the function where they
            are declared.
          </p>
          <p>
            Variables declared with the var keyword cannot have Block Scope, can
            be accessed from outside the block.
          </p>
          <p>
            To solve problems with var declarations, ES6 introduced two new
            types of variable declarations in JavaScript, using the keywords let
            and const.
          </p>
          <p>
            <span class="font-weight-bold">let</span> variables can be updated
            but not re-declared;
            <span class="font-weight-bold">const</span> variables can neither be
            updated nor re-declared.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="coercionId1">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#coercionCollapse1"
          aria-expanded="false"
          aria-controls="coercionCollapse1"
        >
          Callback
        </button>
      </h5>
    </div>
    <div
      id="coercionCollapse1"
      class="collapse"
      aria-labelledby="coercionId1"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          Callback function is a function which is passed to a function as
          parameter and is executed when the outer function is completed.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="domId">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#domCollapse"
          aria-expanded="false"
          aria-controls="domCollapse"
        >
          DOM
        </button>
      </h5>
    </div>
    <div
      id="domCollapse"
      class="collapse"
      aria-labelledby="domId"
      data-parent="#accordion"
    >
      <div class="card-body">
        <p>
          Document Object Model is a platform that allows progroms and scripts
          to dynamically access and updates the content, structure and style of
          a document.
        </p>
        <p>
          DOM is the tree model to represent HTML.
        </p>
        <p>
          HTML is one language for writing such documents.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="coercionId1">
      <h5 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          data-toggle="collapse"
          data-target="#coercionCollapse1"
          aria-expanded="false"
          aria-controls="coercionCollapse1"
        >
          sdfj
        </button>
      </h5>
    </div>
    <div
      id="coercionCollapse1"
      class="collapse"
      aria-labelledby="coercionId1"
      data-parent="#accordion"
    >
      <div class="card-body">write</div>
    </div>
  </div>
</div>
