<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Study Material</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let item of navbarItem">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="item.link"
          (click)="OnTitle(item)"
          >{{ item.name }}</a
        >
      </li>
    </ul>
  </div>
</nav>
