<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="diffReactiveTemplateFormId">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#diffReactiveTemplateFormCollapse"
          aria-expanded="true"
          aria-controls="diffReactiveTemplateFormCollapse"
        >
          Angular
        </button>
      </h2>
    </div>

    <div
      id="diffReactiveTemplateFormCollapse"
      class="collapse"
      aria-labelledby="diffReactiveTemplateFormId"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <ul>
          <li>Diff Between Reactive and Template Driven Form</li>
          <li>Diff Between One way (Property) and Two Way Binding</li>
          <li>What is Injectable in Angular.</li>
          <li>Diff Between One way and Data Interpolation</li>
          <li>Diff Between ngOnInit and ngOnChange</li>
          <li>What is AOT and JIT</li>
          <li>rxjs</li>
          <li>What is used to hit API in angular?</li>
          <li>What is used to handle request and response of API?</li>
          <li>Observable</li>
          <li>Third party module in angular</li>
        </ul>
      </div>
    </div>
  </div>
</div>
