<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="angularDefinitionId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
          data-target="#angularDefinitionCollapse" aria-expanded="true" aria-controls="angularDefinitionCollapse">
          Angular Definition
        </button>
      </h2>
    </div>

    <div id="angularDefinitionCollapse" class="collapse" aria-labelledby="angularDefinitionId"
      data-parent="#accordionExample">
      <div class="card-body">
        <p>
          Angular is a JavaScript framework. That is used to create Single Page
          Application.
        </p>
        <p>
          Single Page Application means parts of the view get refreshed
          asynchronously without having to reload the entire page.
        </p>
        <p>It is developed and maintained by Google.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="angularMatadataId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#angularMatadataCollapse" aria-expanded="false" aria-controls="angularMatadataCollapse">
          Angular Metadata
        </button>
      </h2>
    </div>
    <div id="angularMatadataCollapse" class="collapse" aria-labelledby="angularMatadataId"
      data-parent="#accordionExample">
      <div class="card-body">
        <p>
          Metadata is a set of data that describes and gives information about
          other data
        </p>
        <p>Or in short</p>
        <p>It provides insight about another data.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="decoratorId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#decoratorCollapse" aria-expanded="false" aria-controls="decoratorCollapse">
          Decorator
        </button>
      </h2>
    </div>
    <div id="decoratorCollapse" class="collapse" aria-labelledby="decoratorId" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          Decorators are functions that are invoked with a prefixed @ symbol and
          immediately followed by a class, method or property.
        </p>
        <p class="font-weight-bold">What does decorator do?</p>
        <div class="ml-2 pl-2">
          <p>
            Decorator provides configuration metadata that determines how the
            component, class or a function should be processed, instantiated and
            used at runtime.
          </p>
        </div>
        <p class="font-weight-bold">Types of Decorators</p>
        <div class="ml-2 pl-2">
          <p>1. Class decorator e.g. @Component & @NgModule.</p>
          <p>
            2. Property decorator for properties inside classes, e.g. @Input &
            @Output.
          </p>
          <p>
            3. Method decorator for methods inside classes e.g. @HostListener.
          </p>
          <p>
            4. Parameter decorator for parameters inside class constructors e.g.
            @Inject.
          </p>
        </div>
        <p>
          Let's say, Component decorator binds template and style and loads it
          in component.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="dependencyInjectionId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
          data-target="#dependencyInjectionCollapse" aria-expanded="true" aria-controls="dependencyInjectionCollapse">
          Dependency Injection
        </button>
      </h2>
    </div>

    <div id="dependencyInjectionCollapse" class="collapse" aria-labelledby="dependencyInjectionId"
      data-parent="#accordionExample">
      <div class="card-body">
        <p>
          Dependency Injection is a coding pattern in which a class receive its
          dependencies from external sources rather than creating themself.
        </p>
        <p>
          Angular has its own Dependency Injection framework which is typically
          used in the design of angular applications to increase their
          efficiency and modularity.
        </p>
        <p>
          Let's say, A service that is responsible for provide employees data.
          <br />
          <span class="font-weight-bold">These are three basic steps:</span>
        </p>
        <div class="ml-2 pl-2">
          <p>
            1. Define the EmployeeService class using ng g s EmployeeService and
            let's say create new method getEmployee() & we just return array of
            employees.
          </p>
          <p>
            2. We will register the service with Injector. If we don't register,
            The service will be just another regular class according to angular
          </p>
          <p>3. We inject the service in the constructor where needs it.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="directiveId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#directiveCollapse" aria-expanded="false" aria-controls="directiveCollapse">
          Directive
        </button>
      </h2>
    </div>
    <div id="directiveCollapse" class="collapse" aria-labelledby="directiveId" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          Directives are elements which change the appearance and behaviour of
          the DOM element.
        </p>
        <p class="font-weight-bold">Types</p>
        <div class="ml-2 p-2">
          <p>1. Componet Directive</p>
          <p>2. Structural Directive</p>
          <p>3. Attribute Directive</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="componentDirectiveId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#componentDirectiveCollapse" aria-expanded="false" aria-controls="componentDirectiveCollapse">
          Component Directive
        </button>
      </h2>
    </div>
    <div id="componentDirectiveCollapse" class="collapse" aria-labelledby="componentDirectiveId"
      data-parent="#accordionExample">
      <div class="card-body">
        <p>It is decleared by @Component.</p>
        <p>It is used to configure the selector, templateUrl and styleUrls</p>
        <p class="forn-weight-bold">Example</p>
        <div class="ml-2 pl-2 bg-warning">
          <div>@Component {{ "({" }}</div>
          <div class="pl-3">selector: "app-root",</div>
          <div class="pl-3">
            templateUrl: './angular-material.component.html',
          </div>
          <div class="pl-3">
            styleUrls: ['./angular-material.component.scss']
          </div>
          <div>{{ "})" }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="structuralDirectiveId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
          data-target="#structuralDirectiveCollapse" aria-expanded="true" aria-controls="structuralDirectiveCollapse">
          Structural Directive
        </button>
      </h2>
    </div>

    <div id="structuralDirectiveCollapse" class="collapse" aria-labelledby="structuralDirectiveId"
      data-parent="#accordionExample">
      <div class="card-body">
        <p>It is used to add or remove HTML element from DOM.</p>
        <p>Example: *ngFor, *ngIf, *ngSwitch</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="attributeDirectiveId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#attributeDirectiveCollapse" aria-expanded="false" aria-controls="attributeDirectiveCollapse">
          Attribute Directive
        </button>
      </h2>
    </div>
    <div id="attributeDirectiveCollapse" class="collapse" aria-labelledby="attributeDirectiveId"
      data-parent="#accordionExample">
      <div class="card-body">
        <p>
          Attribute Directive are used to change the look and behaviour of the
          DOM element.
        </p>
        <p>It provides the facility to create our own directive.</p>
        <p class="font-weight-bold">Example:</p>
        <div class="ml-2 pl-2 bg-warning">
          <div>
            {{ "import {Directive, ElementRef, OnInit} from '@angular/core';" }}
          </div>
          <div>@Directive {{ "({" }}</div>
          <div class="pl-3">selector: '[appChanges]'</div>
          <div>{{ "})" }}</div>
          <div class="pt-2">export class ChangesDirective {{ "{" }}</div>
          <div class="pl-3">
            constructor(private eltRef: ElementRef) {{ "{" }}
            <div class="pl-3">
              this.eltRef.nativeElement.style.background = 'green'
            </div>
            {{ "}" }}
          </div>
          <div>ngOnInit() {{ "{}" }}</div>
          <div>{{ "}" }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="metadaId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#metadataCollapse" aria-expanded="false" aria-controls="metadataCollapse">
          Metadata
        </button>
      </h2>
    </div>
    <div id="metadataCollapse" class="collapse" aria-labelledby="metadaId" data-parent="#accordionExample">
      <div class="card-body">
        Metadata is used to decorate the class so that it can configure the
        expected behaviour of a class.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="guardId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#guardCollapse" aria-expanded="false" aria-controls="guardCollapse">
          Guard
        </button>
      </h2>
    </div>
    <div id="guardCollapse" class="collapse" aria-labelledby="guardId" data-parent="#accordionExample">
      <div class="card-body">
        A route guard is a piece of code that controls navigation to and from
        components. <br />
        If it return true that means normal execution will be continued.
        <p class="font-weight-bold">Types</p>
        <div class="ml-2 p-2">
          <p>1. CanActivate</p>
          <p>2. CanActivateChild</p>
          <p>3. CanDeactivate</p>
          <p>4. CanLoad</p>
          <p>5. Resolve</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="canActivateId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#canActivateCollapse" aria-expanded="false" aria-controls="canActivateCollapse">
          CanActivate
        </button>
      </h2>
    </div>
    <div id="canActivateCollapse" class="collapse" aria-labelledby="canActivateId" data-parent="#accordionExample">
      <div class="card-body">
        The Angular CanActivate guard runs before we navigate to a route.
        <p>
          We use this guard, when we want to check some condition before
          activating the component.
        </p>
        <p>
          Reference
          <a
            href="https://www.tektutorialshub.com/angular/angular-canactivate-guard-example/">https://www.tektutorialshub.com/angular/angular-canactivate-guard-example/</a>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="canActivateChildId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#canActivateChildCollapse" aria-expanded="false" aria-controls="canActivateChildCollapse">
          CanActivateChild
        </button>
      </h2>
    </div>
    <div id="canActivateChildCollapse" class="collapse" aria-labelledby="canActivateChildId"
      data-parent="#accordionExample">
      <div class="card-body">
        The Angular CanActivate guard runs before we navigate to a child route.
        <p>
          Reference
          <a
            href="https://www.tektutorialshub.com/angular/angular-canactivatechild-example/">https://www.tektutorialshub.com/angular/angular-canactivatechild-example/</a>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="canDeactivateId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#canDeactivateCollapse" aria-expanded="false" aria-controls="canDeactivateCollapse">
          CanDeactivate
        </button>
      </h2>
    </div>
    <div id="canDeactivateCollapse" class="collapse" aria-labelledby="canDeactivateId" data-parent="#accordionExample">
      <div class="card-body">
        The Angular CanDeactivate guard is called, whenever we navigate away
        from the route before the current component gets deactivated.
        <p>
          Reference
          <a
            href="https://www.tektutorialshub.com/angular/angular-candeactivate-guard/">https://www.tektutorialshub.com/angular/angular-candeactivate-guard/</a>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="canLoadId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#canLoadCollapse" aria-expanded="false" aria-controls="canLoadCollapse">
          CanLoad
        </button>
      </h2>
    </div>
    <div id="canLoadCollapse" class="collapse" aria-labelledby="canLoadId" data-parent="#accordionExample">
      <div class="card-body">
        The canload guard determines whether a particular lazy loaded route can
        be loaded.
        <p>
          Reference
          <a
            href="https://www.tektutorialshub.com/angular/angular-canload-guard-example/">https://www.tektutorialshub.com/angular/angular-canload-guard-example/</a>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="resolveId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#resolveCollapse" aria-expanded="false" aria-controls="resolveCollapse">
          Resolve
        </button>
      </h2>
    </div>
    <div id="resolveCollapse" class="collapse" aria-labelledby="resolveId" data-parent="#accordionExample">
      <div class="card-body">
        The Angular resolve guard allow us to load certain data before we
        navigate to a Route. <br />
        We can define more then one resolvers.
        <p>
          Reference:
          <a
            href="https://www.tektutorialshub.com/angular/angular-resolve-guard/">https://www.tektutorialshub.com/angular/angular-resolve-guard/</a>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="diffCanActivateCanLoadId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#diffCanActivateCanLoadCollapse" aria-expanded="false"
          aria-controls="diffCanActivateCanLoadCollapse">
          Difference Between CanActivate and CanLoad
        </button>
      </h2>
    </div>
    <div id="diffCanActivateCanLoadCollapse" class="collapse" aria-labelledby="diffCanActivateCanLoadId"
      data-parent="#accordionExample">
      <div class="card-body">
        <p>
          <span class="font-weight-bold">CanActivate</span> is used to prevent
          an unauthorized user. <br />This protects the route, but does not
          prevent that module from loading.
        </p>
        <P><span class="font-weight-bold">CanLoad</span> is used to prevent the
          entire module of app.</P>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="httpInterceptorId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
          data-target="#httpInterceptorCollapse" aria-expanded="false" aria-controls="httpInterceptorCollapse">
          HttpInterceptor
        </button>
      </h2>
    </div>

    <div id="httpInterceptorCollapse" class="collapse" aria-labelledby="httpInterceptorId"
      data-parent="#accordionExample">
      <div class="card-body">
        HttpInterceptor intercepts and handles an HttpRequest or HttpResponse.
        <div class="pl-3">
          <div><span class="font-weight-bold">Uses</span></div>
          <p>
            <span class="font-weight-bold">1> Manipulating the URL: </span>If I
            want to change Http to Https then it can be done by replace method.
          </p>
          <p><span class="font-weight-bold">2> SetHeaders</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="moduleLoadingId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#moduleLoadingCollapse" aria-expanded="false" aria-controls="moduleLoadingCollapse">
          Module Loading Strategies
        </button>
      </h2>
    </div>
    <div id="moduleLoadingCollapse" class="collapse" aria-labelledby="moduleLoadingId" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          When we create an Angular application, we get a fresh app along with a
          module called AppModule. AppModule is a logical structure that is used
          to inject the modules and components.
          <br />But it is very difficult to manage a large project. Then we come
          to feature module concept.
        </p>
        <p>
          <span class="font-weight-bold">Feature module</span> is a way where we
          separate our features of our main application into a different module.
        </p>
        <div class="mt-3">
          There are three module loading Strategies:
          <div class="pl-3 mt-2">
            <p>> Eager Loading</p>
            <p>> Lazy Loading</p>
            <p>> Pre-Loading</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="eagerId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#eagerCollapse" aria-expanded="false" aria-controls="eagerCollapse">
          Eager Loading
        </button>
      </h2>
    </div>
    <div id="eagerCollapse" class="collapse" aria-labelledby="eagerId" data-parent="#accordionExample">
      <div class="card-body">
        <p>Eager loading is loaded before the application start.</p>
        <p>This is the default module-loading strategy.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="lazyId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#lazyCollapse" aria-expanded="false" aria-controls="lazyCollapse">
          Lazy Loading
        </button>
      </h2>
    </div>
    <div id="lazyCollapse" class="collapse" aria-labelledby="lazyId" data-parent="#accordionExample">
      <div class="card-body">
        <p>Lazy Loading is loaded on demand after the application starts.</p>
        <p>It helps to start application faster.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="preLoadId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#preLoadCollapse" aria-expanded="false" aria-controls="preLoadCollapse">
          Pre-Loading
        </button>
      </h2>
    </div>
    <div id="preLoadCollapse" class="collapse" aria-labelledby="preLoadId" data-parent="#accordionExample">
      <div class="card-body">
        <p>Pre-Loading is loaded automatically after the application starts.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="templateReferenceId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#templateReferenceCollapse" aria-expanded="false" aria-controls="templateReferenceCollapse">
          Template Reference Variable
        </button>
      </h2>
    </div>
    <div id="templateReferenceCollapse" class="collapse" aria-labelledby="templateReferenceId"
      data-parent="#accordionExample">
      <div class="card-body">
        <p>It is decleared by prefix symbol # or ref-</p>
        <p>It is used to access DOM property.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="diffSynchronousId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#diffSynchronousCollase" aria-expanded="false" aria-controls="diffSynchronousCollase">
          What is the difference between synchronous and asynchronous
          programming
        </button>
      </h2>
    </div>
    <div id="diffSynchronousCollase" class="collapse" aria-labelledby="diffSynchronousId"
      data-parent="#accordionExample">
      <div class="card-body">
        <p>
          synchronous code is executed in sequence – each statement waits for
          the previous statement to finish before executing.
        </p>
        <p>
          Asynchronous code doesn't have to wait – your program can continue to
          run.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="diffReactiveTemplateId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
          data-target="#diffReactiveTemplateCollapse" aria-expanded="false"
          aria-controls="diffReactiveTemplateCollapse">
          Diff Between Reactive and Template Driven Form
        </button>
      </h2>
    </div>

    <div id="diffReactiveTemplateCollapse" class="collapse" aria-labelledby="diffReactiveTemplateId"
      data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Template Driven Form</th>
              <th scope="col">Reactive Form</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                Suitable for simple scenarios and fails for complex scenarios
              </td>
              <td>
                It is more flexible and used to handles any complex scenarios
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Two way data binding(using [(NgModel)] syntax)</td>
              <td>No data binding is done</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="diffOneWayTwoWayId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#diffOneWayTwoWayCollapse" aria-expanded="false" aria-controls="diffOneWayTwoWayCollapse">
          Diff Between One way and Two Way Binding
        </button>
      </h2>
    </div>
    <div id="diffOneWayTwoWayCollapse" class="collapse" aria-labelledby="diffOneWayTwoWayId"
      data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">One Way Data Binding</th>
              <th scope="col">Two Way Data Binding</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>One way binding is bind the data from model to view.</td>
              <td>
                Two way binding is bind the data from model to view and view to
                model.
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Model is the single source of truth</td>
              <td>
                Any change in UI field updates the model and any change in model
                updates the UI field.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="injectableId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#injectableCollase" aria-expanded="false" aria-controls="injectableCollase">
          Injectable
        </button>
      </h2>
    </div>
    <div id="injectableCollase" class="collapse" aria-labelledby="injectableId" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          Injectable Decorator that marks a class as available to be provided
          and injected as a dependency.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="diffInterPropertyId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
          data-target="#diffInterPropertyCollapse" aria-expanded="true" aria-controls="diffInterPropertyCollapse">
          Difference Between Interpolation and Property Binding
        </button>
      </h2>
    </div>

    <div id="diffInterPropertyCollapse" class="collapse" aria-labelledby="diffInterPropertyId"
      data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Interpolation</th>
              <th scope="col">Property Binding</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Interpolation can be implemented using {{ "{}" }}.</td>
              <td>Property Binding can be implemented using [].</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                Interpolation supports concatenation of string within a
                variable.
              </td>
              <td>
                Property Binding does not supports concatenation of String.
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Interpolation doesn't support working with boolean type.</td>
              <td>Property Binding support working with boolean types.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="diffOnInitChangeId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
          data-target="#diffOnInitChangeCollapse" aria-expanded="true"
          aria-controls="diffOnInitChangeInterPropertyCollapse">
          Diff Between ngOnInit and ngOnChange
        </button>
      </h2>
    </div>
    <div id="diffOnInitChangeCollapse" class="collapse" aria-labelledby="diffOnInitChangeId"
      data-parent="#accordionExample">
      <div class="card-body">
        <p>
          ngOnChanges() is called whenever input bound properties of its
          component changes, it receives an object called SimpleChanges which
          contains changed and previous property.
        </p>
        <p>
          ngOnInit() is used to initialize things in a component, it is called
          only once.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="aotJitId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#aotJitCollapse" aria-expanded="false" aria-controls="aotJitCollapse">
          AOT and JIT
        </button>
      </h2>
    </div>
    <div id="aotJitCollapse" class="collapse" aria-labelledby="aotJitId" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          JIT and AOT are two ways to compile code in an Angular project. We use
          JIT in development mode while AOT is for production mode.
        </p>
        <p>
          <a
            href="https://dev.to/imbilal1/what-are-aot-jit-compiler-in-angular-2-488h">https://dev.to/imbilal1/what-are-aot-jit-compiler-in-angular-2-488h</a>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="rxjsId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#rxjsCollapse" aria-expanded="false" aria-controls="rxjsCollapse">
          rxjs
        </button>
      </h2>
    </div>
    <div id="rxjsCollapse" class="collapse" aria-labelledby="rxjsId" data-parent="#accordionExample">
      <div class="card-body">
        <p>rxjs is library that is used to enable observable.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="observableId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#observableCollapse" aria-expanded="false" aria-controls="observableCollapse">
          Observable
        </button>
      </h2>
    </div>
    <div id="observableCollapse" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>Observable is used to handle the asynchronous operation.</p>
        <p>
          We can subscribe to an observable chain and get a callback every time
          something is pushed onto the last stream.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="diffObserPromiseId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#diffObserPromiseCollapse" aria-expanded="false" aria-controls="diffObserPromiseCollapse">
          Observable and Promise
        </button>
      </h2>
    </div>
    <div id="diffObserPromiseCollapse" class="collapse" aria-labelledby="diffObserPromiseId"
      data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Observable</th>
              <th scope="col">Promise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Observable emits multiple values over a period of time.</td>
              <td>Promise emits a single value.</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                Observable is lazy. An Observable is not called until we
                subscribe to the observable.
              </td>
              <td>Promise is not lazy.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="apiHitId">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#apiHitCollapse" aria-expanded="false" aria-controls="apiHitCollapse">
          What is used to hit API in angular?
        </button>
      </h2>
    </div>
    <div id="apiHitCollapse" class="collapse" aria-labelledby="apiHitId" data-parent="#accordionExample">
      <div class="card-body">
        <p>
          Angular provides the HttpClient module which allows to send HTTP
          requests and make API calls to remote HTTP servers.
        </p>
        <p>It is available in @angular/common/http module.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>