<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="firebaseInstallId">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#firebaseInstallIdCollapse"
          aria-expanded="true"
          aria-controls="firebaseInstallIdCollapse"
        >
          Node JS
        </button>
      </h2>
    </div>

    <div
      id="firebaseInstallIdCollapse"
      class="collapse"
      aria-labelledby="firebaseInstallId"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p>Node.js is an open source server environment.</p>
        <p>Node.js allows you to run JavaScript on the server.</p>
        <p>
          Node.js provides a rich library of various JavaScript modules which
          simplifies the development of web applications using Node.js
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="angularDeployId">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#angularDeployCollapse"
          aria-expanded="false"
          aria-controls="angularDeployCollapse"
        >
          Angular Deploy
        </button>
      </h2>
    </div>
    <div
      id="angularDeployCollapse"
      class="collapse"
      aria-labelledby="angularDeployId"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p>> firebase init</p>
        <p><small class="font-weight-bold">Ask Some Query</small></p>
        <p>> Are you ready to proceed? Yes</p>
        <p>
          > Which Firebase CLI feature do you want to setup: Select Hosting:
          Configure and deploye Firebase Hosting sites and press enter.
        </p>
        <p>
          > What do you want to use as your public directory?
          dist/Project_Name(project name is given in package.json)
        </p>
        <p>
          > Confiure as a single-page app (rewrite all urls to /index.html)? Yes
        </p>
        <p>> File (file path is given) already exists. Overwrite? No</p>
        <h6>
          Note: After completing the above steps, your firebase.json file will
          be created
        </h6>
        <h6>
          Reference:
          <a
            target="_blank"
            href="https://medium.com/@longboardcreator/deploying-angular-6-applications-to-firebase-hosting-b5dacde9c772"
            >https://medium.com/@longboardcreator/deploying-angular-6-applications-to-firebase-hosting-b5dacde9c772</a
          >
        </h6>
        <h6 class="text-muted">Deploying</h6>
        <p>1 - ng build --prod</p>
        <p>2 - firebase deploy</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="nodeDeployId">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#nodeDeployCollapse"
          aria-expanded="false"
          aria-controls="nodeDeployCollapse"
        >
          Node Js
        </button>
      </h2>
    </div>
    <div
      id="nodeDeployCollapse"
      class="collapse"
      aria-labelledby="nodeDeployId"
      data-parent="#accordionExample"
    >
      <div class="card-body">kjhkhk</div>
    </div>
  </div>
</div>
