<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="firebaseInstallId">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#firebaseInstallIdCollapse"
          aria-expanded="true"
          aria-controls="firebaseInstallIdCollapse"
        >
          Selectors
        </button>
      </h2>
    </div>

    <div
      id="firebaseInstallIdCollapse"
      class="collapse"
      aria-labelledby="firebaseInstallId"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p>
          CSS selectors are used to "find" (or select) the HTML elements you
          want to style.
        </p>
        <div class="pl-3">
          <p>* Simple selectors (select elements based on name, id, class)</p>
          <p>
            * Combinator selectors (select elements based on a specific
            relationship between simple selector)
          </p>
          <div class="pl-3">
            <p>
              -> descendant selector (space): The descendant selector matches
              all elements that are descendants of a specified element.
            </p>
            <p>
              -> child selector (>): The child selector selects all elements
              that are the children of a specified element.
            </p>
            <p>
              -> adjacent sibling selector (+): The adjacent sibling selector is
              used to select an element that is directly after another specific
              element.
            </p>
            <p>
              -> general sibling selector (~): The general sibling selector
              selects all elements that are siblings of a specified element.
            </p>
          </div>
          <p>
            * Pseudo-class selectors (select elements based on a certain state)
          </p>
          <div class="pl-3">
            <p>
              A pseudo-class is used to define a special state of an element.
              Like mouses over, visited and unvisited etc.
            </p>
          </div>
          <p>
            * Pseudo-elements selectors (select and style a part of an element)
          </p>
          <div class="pl-3">
            <p>
              A CSS pseudo-element is used to style specified parts of an
              element. Example style on first letter, Insert content before or
              after.
            </p>
          </div>
          <p>
            * Attribute selectors (select elements based on an attribute or
            attribute value)
          </p>
          <div class="pl-3">
              <p>The [attribute] selector is used to select elements with a specified attribute.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="firebaseInstallId">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#firebaseInstallIdCollapse"
          aria-expanded="true"
          aria-controls="firebaseInstallIdCollapse"
        >
          Firebase Install
        </button>
      </h2>
    </div>

    <div
      id="firebaseInstallIdCollapse"
      class="collapse"
      aria-labelledby="firebaseInstallId"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p class="text-muted">Basic setting for first deploy</p>
        <p>1 - npm install firebase @angular/fire --save</p>
        <p>2 - npm install -g firebase-tools</p>
        <p>3 - firebase login</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="firebaseInstallId">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#firebaseInstallIdCollapse"
          aria-expanded="true"
          aria-controls="firebaseInstallIdCollapse"
        >
          Firebase Install
        </button>
      </h2>
    </div>

    <div
      id="firebaseInstallIdCollapse"
      class="collapse"
      aria-labelledby="firebaseInstallId"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p class="text-muted">Basic setting for first deploy</p>
        <p>1 - npm install firebase @angular/fire --save</p>
        <p>2 - npm install -g firebase-tools</p>
        <p>3 - firebase login</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="firebaseInstallId">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#firebaseInstallIdCollapse"
          aria-expanded="true"
          aria-controls="firebaseInstallIdCollapse"
        >
          Firebase Install
        </button>
      </h2>
    </div>

    <div
      id="firebaseInstallIdCollapse"
      class="collapse"
      aria-labelledby="firebaseInstallId"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p class="text-muted">Basic setting for first deploy</p>
        <p>1 - npm install firebase @angular/fire --save</p>
        <p>2 - npm install -g firebase-tools</p>
        <p>3 - firebase login</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="firebaseInstallId">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#firebaseInstallIdCollapse"
          aria-expanded="true"
          aria-controls="firebaseInstallIdCollapse"
        >
          Firebase Install
        </button>
      </h2>
    </div>

    <div
      id="firebaseInstallIdCollapse"
      class="collapse"
      aria-labelledby="firebaseInstallId"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p class="text-muted">Basic setting for first deploy</p>
        <p>1 - npm install firebase @angular/fire --save</p>
        <p>2 - npm install -g firebase-tools</p>
        <p>3 - firebase login</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="firebaseInstallId">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#firebaseInstallIdCollapse"
          aria-expanded="true"
          aria-controls="firebaseInstallIdCollapse"
        >
          Firebase Install
        </button>
      </h2>
    </div>

    <div
      id="firebaseInstallIdCollapse"
      class="collapse"
      aria-labelledby="firebaseInstallId"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p class="text-muted">Basic setting for first deploy</p>
        <p>1 - npm install firebase @angular/fire --save</p>
        <p>2 - npm install -g firebase-tools</p>
        <p>3 - firebase login</p>
      </div>
    </div>
  </div>
</div>
